{% extends 'qna/base.html' %}

{% block content %}
<div class="container">
  <br />
  <div class="row">
    <div class="jumbotron">
      <p><b>
        <h2>Welcome to Underground Questions.</h2>
        Underground Questions is a community of 3 programmers, just like you, helping each other. Join them; it only takes a minute or
        feel free to browse, but you must be logged in to post new questions or answer existing questions.
      </b></p>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{ sort }} Questions<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/">Most Recent</a></li>
        <li><a href="/?sort_by=popular">Most Answers</a></li>
      </ul>
    </li>
  </ul>

  <div class="row">
    <h2> {{ sort }} Questions </h2>
  </div>
  <figure class="highlight">
    {% for question in questions %}
    <div class="row question_print">
      <p><h4><a href="{% url 'question_detail' question.id %}">{{question.title}}</a></h4></p>
      <p>Submitted on {{question.created}} by <a href="{% url 'profile' question.owner.id %}"> {{question.owner.user.username}}</a></p>
    </div>
    {% endfor %}
  </figure>

  <nav>
    <ul class="pager pull-left">
      {% if questions.has_previous %}
        <li><a href="?page={{ questions.previous_page_number }}">Previous</a></li>
      {% else %}
        <li class="disabled"><a href="javascript:;">Previous</a></li>
      {% endif %}
      {% if questions.has_next %}
        <li><a href="?page={{ questions.next_page_number }}">Next</a></li>
      {% else %}
        <li class="disabled"><a href="javascript:;">Next</a></li>
      {% endif %}
    </ul>
  </nav>

  <div class="clearfix"></div>

  {% if user.is_authenticated %}
  <div class="question_form row">
    <div class="col-xs-12 col-md-6">
      <h2>Ask a new question</h2>

      {% load i18n widget_tweaks %}
      <form id="question_form" class="form-horizontal" role="form" action="." method="post">
        {% csrf_token %}
        <form id="question_form" method="post" action="">
          {% csrf_token %}
          <label for="">Title:  </label>
          {{ form.title|attr:"class:form-control" }}

          <br /><label for="">Description:  </label>
          {{ form.description|attr:"class:form-control" }}

          <br /><label for="">Categories: </label><br />
          {% for form in form.categories %}
            {{form}}&nbsp;&nbsp;&nbsp;
          {% endfor %}
          <br /><br /><button type="submit" value="submit" class="btn btn-default">Submit</button>
        </form>
      </form>
    </div>
  </div>
  {% endif %}
</div>


{% endblock %}
