{% extends 'qna/base.html' %}
{% load staticfiles %}
{% load i18n widget_tweaks %}

<title>Question</title>
{% block content %}
<head>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="question_form row">
      <div class="col-xs-12 col-md-6">

      <h1>{{question.title}}</h1>
      <br />
      <p>{{question.description}}</p>
      <p>Asked by <a href="{% url 'profile' question.owner.id %}">{{question.owner.user.username}}</a> on {{question.created}}</p>
      Tags:
      {% for category in question.categories.all %}
        <p>{{category}}</p>
      {% endfor %}

      {% if answers %}
        {% for answer in answers %}
          <p>
            {{answer.text}}
            <br />
              Posted by: <a href="{% url 'profile' answer.owner.id %}">{{answer.owner.user.username}}</a> on {{answer.created}}
            <form id="vote_form" action="" method="post">
              {% csrf_token %}
              <button name="vote" type="submit" value="upvote">UPVOTE</button>
              <button name="vote" type="submit" value="downvote">DOWNVOTE</button>
              <input name="answer_object" type="hidden" value={{ answer.pk }}>
            </form>
          </p>
          {% endfor %}
        {% endif %}

        <br />
        <h3>Submit an answer</h3>

        <form id="answer_form" method="post" action="">
          {% csrf_token %}
          <label for="">Text:  </label>
          {{ form.text|attr:"class:form-control" }}
          <br />
          <button type="submit" value="submit" class="btn btn-default">Submit</button>

        </form>
        {% endblock %}
      </div>
    </div>
  </div>
</body>
