{% extends 'qna/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question</title>
  </head>

{% block content %}
  <body>

  <h1>{{question.title}}</h1>
  <p>{{question.description}}</p>
  <p>Asked by <a href="{% url 'profile' question.owner.id %}">{{question.owner}}</a> on {{question.created}}</p>

  {% for category in question.categories %}
    <p>{{category}}</p>
  {% endfor %}


    {% if answers %}
      {% for answer in answers %}
        <p>
          {{answer.text}}
        </p>
        {% endfor %}
      {% endif %}

    <h3>Submit a new answer</h3>

    <form id="answer_form" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Submit" />
    </form>


  </body>

{% endblock %}

</html>
