{% load i18n widget_tweaks %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href={% static 'qna/css/style.css' %} rel="stylesheet">
    <title>Underground Questions Registration</title>
  </head>
{% block content %}
  <body>
    <div class="container">
      <div class="register_form row">
        <h1>Create an account</h1>
        <form id="user_form" class="user_form" method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="submit" value="Register" />
        </form>
        <br /><p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
        <br /><p class="message"><a href="{% url 'home' %}">Back to home </a></p>
      </div>
    </div>
  </body>
</html>
{% endblock %}
